@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kalnia", serif;
}

a {
  text-decoration: none;
}
